$sidebarBackground: #f7f7f7;
$linkColor: #636363;

.sidebar {
  background: $sidebarBackground;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  overflow: hidden;
  padding: 1rem;
}

.link {
  color: $linkColor;
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
}

.listFilm {
  margin: 1rem 0;
}

@media screen and (max-width: 900px) {
  .sidebar {
    margin: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;

    ul {
      list-style-position: inside;
      padding: 0;
    }
  }
}
