$buttonBackground: #f7f7f7;
$buttonColor: #636363;
$buttonHoverColor: #c69cc8;

.link {
  background: $buttonBackground;
  border-radius: 1rem;
  color: $buttonColor;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  width: 10rem;
  &:hover {
    background: $buttonHoverColor;
  }
}

.buttonMargin {
  margin: 2rem 0;
}
